<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
    <div>
        <form action="/logout" method="post">
            <input type="submit" value="Sign Out"/>
            <input type="hidden" name="_csrf" value={{_csrf.token}} />
        </form>
    </div>
    <!--<div>-->
        <!--<form method="post">-->
            <!--<input type="hidden" name="_csrf" value={{_csrf.token}} />-->
            <!--<input type="text" name="text" placeholder="Введите сообщение" />-->
            <!--<input type="text" name="tag" placeholder="Введите тэг" />-->
            <!--<button type="submit">Добавить</button>-->
        <!--</form>-->
    <!--</div>-->
    <p>
    <div>Список пользователей:</div>
        <form method="post" action="filter">
            <input type="hidden" name="_csrf" value={{_csrf.token}} />
            <input type="text" name="filter" />
            <button type="submit">Найти</button>
        </form>
        <p>
        {{#users}}
        <div>
        <b>{{id}}</b>
        <span>{{username}}</span>
            <i>{{roles}}</i>
        <i>{{active}}</i>
        </div>
        {{/users}}
    </body>
</html>